 Normalization AND Standardization

In [1]:
#NORMALIZATION:-IT IS A SCALING TECHNIQUE IN WHICH VALUES ARE SHUFTED AND RESCALED SO THAT THEY END UP RANGIN BETWEEN 0 AND 1.
#Xnorm= (X - Xmin) / (Xmax - Xmin)  [FORMULA TO CALCULATE NORMALIZATION]

In [4]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler


from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt

In [6]:

data = pd.read_csv('titanic.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [7]:
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [9]:
scaling=MinMaxScaler()

In [11]:
#WE FIND NORMALIZATION HERE BY SCALIN THE LARGER VALUES TO 0 AND 1
scaling.fit_transform(data[['PassengerId','Fare']])

array([[0.        , 0.01415106],
       [0.0011236 , 0.13913574],
       [0.00224719, 0.01546857],
       ...,
       [0.99775281, 0.04577135],
       [0.9988764 , 0.0585561 ],
       [1.        , 0.01512699]])

In [12]:
# let's look at missing data

data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [18]:
#TEST AND TRAIN THE DATA TO FIND THE ACCURACY IB THE DATASET,MORE THE ACCURACY BETTER THE MODEL
X_train,X_test,y_train,y_test=train_test_split(data[['PassengerId','Fare']], data.Survived, test_size=0.3,
                                                random_state=0)
X_train.shape, X_test.shape

((623, 2), (268, 2))

In [19]:
#STANDARDIZATION:Standardization is another scaling technique where the values are centered around the mean with a unit standard deviation.
#formula to calculate standardization:z = (x - x_mean) / std

In [21]:

scaler = StandardScaler() # create an object
X_train_scaled = scaler.fit_transform(X_train) # fit the scaler to the train set, and then transform it
X_test_scaled = scaler.transform(X_test)

In [22]:
print('means (Pclass, Age and Fare): ', X_train_scaled.mean(axis=0))
print('std (Pclass, Age and Fare): ', X_train_scaled.std(axis=0))

means (Pclass, Age and Fare):  [-1.08349213e-16  5.41746067e-17]
std (Pclass, Age and Fare):  [1. 1.]